.navbar{
  width: 100%;
  height: 50px;
  background-color: rgb(97, 198, 241);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item{
  text-decoration: none;
  color: rgb(129, 127, 127);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
