
<div class="container mw-100">
  <div class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">
        Home</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['booking']" routerLinkActive="active">
      Reserva</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" [routerLink]="['mycount']" routerLinkActive="active">
      Mi Cuenta</a>
  </li>
  </div>
  <div class="nav-item">
    <button class="btn" *ngIf="!isLogged" [routerLink]="['login']">Login</button>
    <button class="btn btn--out" *ngIf="isLogged" (click)="logOut()">LogOut</button>
  </div>
</div>
