@import './../../../../styles.scss';

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  width: 100%;
}
a{
  color: $colorParagraph;
}
a:focus{
  color: $colorButtonText;
}

a:hover{
  color: $colorButtonText;
}

button.btn {
  color:$colorHeadline;
  background-color: $colorButton;
  border-color: $colorParagraph;
  &--out {
    color: $colorTertiary;
    border-color: $colorTertiary;
}
}
