<div class="d-flex flex-column justify-content-center align-items-center">
  <form
  *ngIf="loginForm"
  [formGroup]="loginForm"
  (submit)="login()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input class="form-control" type="password" formControlName="password" placeholder="Password">

    </div>
      <button class="btn" type="submit">Login</button>
  </form>
  <div>
    <h4 class="fw-lighter fs-6">Regístrate si aún no tienes <a  class="text-decoration-none" [routerLink]="['/register']">cuenta</a></h4>
  </div>
</div>

