/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
