/* You can add global styles to this file, and also import other style files */
$colorParagraph:#abd1c6;
$colorBackground:#004643;
$colorHeadline:#fffffe;
$colorButtonText:#002e2c;
$colorButton:#f9bc60;

$colorStroke:#001e1d;
$colorMain:#e8e4e6;
$colorHighligth:#f9bc60;
$colorSecondary: #abd1c6;
$colorTertiary:#e16162;


body{
  margin: 0;
  width: 100%;
  padding: 2px;
}
section{
  min-height: 400px;
  padding-bottom: 100px;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  background-color: $colorMain;
  align-items: center;
  border: 1px rgb(233, 233, 233) solid;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgb(216, 216, 216) ;
  margin: 5px;
}

button{
  transition: 0.5s;
  background-color: $colorButton;
  color: $colorHeadline;
}

button:hover{
  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px $colorBackground;
  color: $colorButton;
}

button:active{
  transition: 0.5s;
  box-shadow: 0px 0px 1px 1px inset $colorBackground;
}


.error-control{
  color: $colorTertiary;
 }





