<div class="d-flex flex-column justify-content-center align-items-center">
  <form
  *ngIf="registerForm"
  [formGroup]="registerForm"
  (submit)="handleUser()"
  enctype="multipart/form-data"
  >
  <div>
    <div>
      <label class="form-label" for="name">Nombre</label>
      <input class="form-control" type="text" formControlName="name">
    </div>
    <div>
      <label class="form-label" for="surname">Apellidos</label>
      <input class="form-control" type="text" formControlName="surname">
    </div>
    <div>
      <label class="form-label" for="image">Foto de perfil</label>
      <input

      class="form-control" type="file"
      (change)="onFileSelected($event)"
      formControlName="image"
      >
    </div>
    <div>
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" formControlName="email">
    </div>
    <div>
      <label class="form-label" for="password">Contraseña</label>
      <input class="form-control" type="password" formControlName="password" required="">
    </div>
  </div>

    <div class="mt-2">
      <p *ngIf="succesUser" class="error-control">Algo ha ido mal, revisa los datos</p>
      <button class="btn" type="submit">Crear usuario</button>
    </div>
  </form>
</div>


