<div class="container w-100 m-0 mw-100 p-0">

  <footer class="text-white text-center text-lg-start" >
    <div class="container p-4">

      <div class="row mt-4">
        <div class="d-flex flex-column align-items-center">
          <h5 class="text-uppercase mb-4">Sobre nuestro establecimiento</h5>

          <p>
            Nos encontramos junto a la Sierra de Lijar, practicamente en el Parque Natural de la Sierra de Grazalema y
            otras maravillas de la Sierra de Cádiz. Desde nuestros locales, cuyas primeras construcciones datan del siglo
            XVII, le ofrecemos todas las posibilidades para disfrutar de las muchas cosas buenas de la zona, desde la
            tranquilidad, la naturaleza, la gastronomia, el ocio, la diversion, deporte, etc ...
          </p>

          <div class="d-flex align-items-center">

            <a type="button" class="btn btn-floating btn-icon btn-lg m-3" href="#"><i class="fab icon-fb"></i></a>

            <a type="button"  class="btn btn-floating btn-icon btn-lg m-3" href="#"><i class="fab icon-mail"></i></a>

            <a type="button" class="btn btn-floating btn-icon btn-lg m-3" href="#"><i class="fab icon-ig"></i></a>

          </div>
        </div>

        <div>
          <ul class="d-flex flex-column align-items-center" style="list-style: none; text-align: center;">
            <li>
             <span ><i class="fas fa-home"></i>  Algodonales, C/Las máquinas s/n, (Cádiz)</span>
            </li>
            <li >
              <span><i class="fas icon-mail"></i>  elcortijo@ruralelcortijo.com</span>
            </li>
            <li>
              <span><i class="fas icon-phone"></i>  + 01 234 567 88</span>
            </li>
          </ul>
        </div>

        <div class="d-flex flex-column align-items-center">
          <h5 class="text-uppercase mb-4">Horario</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>L-V</td>
                <td>8:00 - 23:00</td>
              </tr>
              <tr>
                <td>Sábado</td>
                <td>8:30-23:00</td>
              </tr>
              <tr>
                <td>Domingo</td>
                <td>9:00 - 23:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
