<div class="container w-100 m-0 mw-100 p-0">

  <footer class="text-white text-center text-lg-start" >
    <div class="container p-4">

      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Sobre nuestro establecimiento</h5>

          <p>
            Nos encontramos junto a la Sierra de Lijar, practicamente en el Parque Natural de la Sierra de Grazalema y otras maravillas de la Sierra de Cádiz. Desde nuestros locales, cuyas primeras construcciones datan del siglo XVII, le ofrecemos todas las posibilidades para disfrutar de las muchas cosas buenas de la zona, desde la tranquilidad, la naturaleza, la gastronomia, el ocio, la diversion, deporte, etc ...
          </p>

          <div class="mt-14">

            <a type="button" class="btn btn-floating btn-warning btn-lg m-3"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-warning btn-lg m-3"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-warning btn-lg m-3"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-warning btn-lg m-3"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Algodonales, C/Las máquinas s/n, (Cádiz)</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">elcortijo@ruralelcortijo.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horario</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>L-V</td>
                <td>8:00 - 23:00</td>
              </tr>
              <tr>
                <td>Sábado</td>
                <td>8:30-23:00</td>
              </tr>
              <tr>
                <td>Domingo</td>
                <td>9:00 - 23:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
